*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
  
html, body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar-thumb {
    background: #A2A2A2;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
    transition: 0.3s;
}

.main-container {
    background-color: #F2F3F7;
}

.barra {
    display: none;
}

.popup-home {
    width: 500px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border-radius: 5px;
    box-shadow: 0 11px 40px rgba(0, 0, 0, 0.2);
    row-gap: 15px;
    z-index: 9999; /* Garante que a popup esteja acima de outros elementos */
  }
  
  .popup-home p {
    margin-bottom: 30px;
    font-size: 32px;
    font-family: Lato;
    text-align: center;
    padding-top: 60px;
  }
  
  .popup-home button {
    padding: 8px 16px;
    background-color: #2C72DC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 28px;
    margin-left: 170px;
  }
  
  .popup-home button:hover {
    background-color: #165BBB;
  }




@media screen and (min-width: 1024px) {

    .barra {
        display: flex;
        width: 100%;
        height: 38px;
        background-color:#1D1D1B;
        align-content: center;
        align-items: center;
    }
    
    .barra-lista {
        list-style: none;
        display: flex;
        column-gap: 10px;
        padding-left: 45px;
    }
    
    .barra-text {
        color: #F2F3F7;
        font-family: "Lato", sans serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.86px;
        cursor: pointer;
    }

    .nav {
        width: 100%;
        height: 60px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .menu-superior1 {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-inline: 40px;
        justify-content: flex-start
    }

      .menu-superior-img {
        width: 188px;
        height: 52px;
      }

      .sociais {
        display: flex;
        column-gap: 5px;
        align-items: center;
        padding-right: 45px;
      }

      .social-line {
        display: flex;
        column-gap: 5px;
      }

      .social-icon {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }

      .follow {
        color: #004926;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        margin-top: 2px;
      }

      .btns-nav {
        display: flex;
        column-gap: 15px;
        margin-left: 30px;
        margin-right: 32px;
      }

      .botoes {
        display: flex;
        column-gap: 15px;
      }

      .donationok {
        width: 169px;
        height: 36px;
        border-radius: 2px;
        background-color: #2C72DC;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .span-btn {
        width: 20px;
        height: 20px;
      }

      .donation4 {
        width: 150px;
        height: 36px;
        border-radius: 2px;
        background-color: #fff;
        color: #2C72DC;
        border: solid 1px #2C72DC;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
      }

      .entrar-perfil {
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding-left: -90px;
        cursor: pointer;
      }

}


@media screen and (min-width: 1440px) {

    .barra {
        display: flex;
        width: 100%;
        height: 38px;
        background-color:#1D1D1B;
        align-content: center;
        align-items: center;
    }
    
    .barra-lista {
        list-style: none;
        display: flex;
        column-gap: 20px;
        padding-left: 60px;
    }
    
    .barra-text {
        color: #F2F3F7;
        font-family: "Lato", sans serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.86px;
        cursor: pointer;
    }

    #evangelizar {
        margin-right: 25px;
    }

    .nav {
        width: 100%;
        height: 60px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .menu-superior1 {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-inline: 48px;
        justify-content: space-between;
    }

      .menu-superior-img {
        width: 188px;
        height: 52px;
      }

      .sociais {
        display: flex;
        column-gap: 80px;
        align-items: center;
        padding-right: 45px;
      }

      .social-icon {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }

      .follow {
        color: #004926;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
      }

      .btns-nav {
        display: flex;
        column-gap: 55px;
        margin-left: 30px;
        margin-right: 32px;
      }

      .donationok {
        width: 169px;
        height: 36px;
        border-radius: 2px;
        background-color: #2C72DC;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .span-btn {
        width: 20px;
        height: 20px;
      }

      .donation22 {
        width: 150px;
        height: 36px;
        border-radius: 2px;
        background-color: #fff;
        color: #2C72DC;
        border: solid 1px #2C72DC;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
      }

      .entrar-perfil {
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding-left: -90px;
        cursor: pointer;
      }

}

@media screen and (min-width: 1880px) {

        .barra {
            display: flex;
            width: 100%;
            height: 46px;
            background-color:#1D1D1B;
            align-content: center;
            align-items: center;
        }
        
        .barra-lista {
            list-style: none;
            display: flex;
            column-gap: 30px;
            padding-left: 100px;
        }
        
        .barra-text {
            color: #F2F3F7;
            font-family: "Lato", sans serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.86px;
            cursor: pointer;
        }
    
        .nav {
            height: 80px;
            align-items: center;
            justify-content: space-around;
        }

        .menu-superior1 {
            column-gap: 65px;
            width: 94%;
            padding-inline: 33px;
            justify-content: space-between;
        }
    
          .menu-superior-img {
            width: 275px;
            height: 74px;
          }
    
          .sociais {
            display: flex;
            column-gap: 90px;
            align-items: center;
          }
    
          .social-line {
            display: flex;
            column-gap: 7px;
          }
    
          .social-icon {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
    
          .follow {
            color: #004926;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            margin-top: 4px;
          }
    
          .btns-nav {
            display: flex;
            column-gap: 55px;
            margin-left: 30px;
            margin-right: 32px;
          }
    
          .botoes {
            display: flex;
            column-gap: 20px;
          }
    
          .donationok {
            width: 205px;
            height: 46px;
            border-radius: 2px;
            background-color: #2C72DC;
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
    
          .span-btn {
            width: 20px;
            height: 20px;
          }
    
          .donation4 {
            width: 205px;
            height: 46px;
            border-radius: 2px;
            background-color: #fff;
            color: #2C72DC;
            border: solid 1px #2C72DC;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            font-size: 22px;
            cursor: pointer;
          }
    
          .entrar-perfil {
            display: flex;
            align-items: center;
            column-gap: 15px;
            padding-left: -90px;
          }

          .entrar {
            font-size: 20px;
          }

          .foto-perfil {
            width: 45px;
            height: 45px;
          }
}



.nav2 {
    display: flex;
        width: 100%;
        height: 38px;
        background-color:#F2F3F7;
        align-content: center;
        align-items: center;
        align-items: center;
    justify-content: center;
}

.nav2-ul {
    display: flex;
    column-gap: 20px;
}

.nav2-item {
    color: #212429;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav2-item p {
    margin-left: -1px; /* Adiciona um espaçamento à direita do parágrafo */
  }

  .lupinha {
    cursor: pointer;
  }


  @media screen and (min-width: 1440px) {
    .nav2 {
        display: flex;
        height: 60px;
    }
    
    .nav2-ul {
        column-gap: 34px;
        align-items: center;
        padding-right: 28px;
    }
    
    .nav2-item {
        font-size: 14px;
    }

    .nav2-item img {
        width: 20px;
        height: 20px;
        margin-left: 4px;
    }
    
    .nav2-item p {
        margin-left: -1px; /* Adiciona um espaçamento à direita do parágrafo */
      }

      .lupinha {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }

}  


  @media screen and (min-width: 1880px) {
    .nav2 {
        display: flex;
            height: 85px;
    }
    
    .nav2-ul {
        column-gap: 45px;
    }
    
    .nav2-item {
        font-size: 18px;
    }

    .nav2-item img {
        width: 20px;
        height: 20px;
        margin-left: 4px;
    }
    
    .nav2-item p {
        margin-left: -1px; /* Adiciona um espaçamento à direita do parágrafo */
      }

      .lupinha {
        width: 35px;
        height: 35px;
      }

}  




.principal {
    height: 500px;
    width: 100%;
    background-color: #fff;
    display: flex;
}  

.entrar2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-left: 60px;
    row-gap: 15px;
}

.h3 {
   color: #1D1D1B;
   font-family: 'Lato', sans-serif;
font-size: 28px;
font-weight: 700;
line-height: 38px;
text-align: left;

}

.input {
    width: 380px;
    height: 42px;
    border: 1px #E1E4F0 solid;
    padding-left: 15px;
    background-color: #E1E4F0;
    font-size: 18px;
    font-weight: 400;
    color: #5B5E6D;
    font-family: 'Lato', sans-serif;
    transition: border-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor da borda */
}

/* Define a borda azul quando o input está em foco */
.input:focus {
    border-color: #2C72DC; /* Cor da borda ao receber foco */
    outline: none; /* Remove o contorno padrão quando em foco */
}


.input-container {
    position: relative;
  }
  
  .input {
    padding-right: 30px; /* Ajuste conforme necessário para acomodar o ícone */
  }
  
  .eye-icon {
    position: absolute;
    right: 20px; /* Ajuste conforme necessário para alinhar o ícone */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    /* Estilos adicionais para o ícone */
  }

.p1 {
    color: #5B5E6D;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.clique {
    color: #2C72DC;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration: underline;
}

.btn {
    width: 80px;
    height: 30px;
    background-color: #2C72DC;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.25px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.arrow2 {
    margin-top: 4px
}

.p2 {
    font-family: 'Lato', sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: left;

}

.img-banner {
    width: 50%;
    height: 100%;
    background-image: url('/src/assets/Home/bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.bg-p {
   color: #fff;
   font-family: 'Lato', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: center;
width: 70%;
}

.bg-btn {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    border: solid 1px #fff;
    width: 160px;
    height: 35px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    
.principal {
    height: 594px;
}  

.entrar2 {
    width: 30%;
    margin-left: 115px;
    row-gap: 15px;
}

.h3 {
   color: #1D1D1B;
   font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-bottom: 5px;
}

.input {
    width: 487px;
    height: 54px;
    border: 1px #E1E4F0 solid;
    padding-left: 15px;
    background-color: #E1E4F0;
    font-size: 18px;
    font-weight: 400;
    color: #5B5E6D;
    font-family: 'Lato', sans-serif;
}

.input-container {
    position: relative;
  }
  
  .input {
    padding-right: 30px; /* Ajuste conforme necessário para acomodar o ícone */
  }
  
  .eye-icon {
    position: absolute;
    right: 20px; /* Ajuste conforme necessário para alinhar o ícone */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    /* Estilos adicionais para o ícone */
  }

.p1 {
    color: #5B5E6D;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 5px;
}

.clique {
    color: #2C72DC;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration: underline;
}

.btn {
    width: 112px;
    height: 44px;
    margin-bottom: 60px;
}

.img-banner {
    width: 50%;
    background-image: url('/src/assets/Home/bg.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100%; /* Remova 'height: 100%' e deixe que a altura seja definida automaticamente de acordo com o conteúdo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.bg-p {
    font-size: 16px;
    width: 58%;
    margin-bottom: 15px;
}

.bg-btn {
    font-size: 18px;
    width: 190px;
    height: 46px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
}

@media screen and (min-width: 1880px) {

.principal {
    height: 800px;
}  

.entrar2 {
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: flex-start; /* Alinha o conteúdo à esquerda */
        justify-content: center; /* Centraliza verticalmente */
        margin: auto; /* Centraliza horizontalmente */
        margin-left: 220px;
        row-gap: 25px;    
}

.h3 {
   color: #1D1D1B;
   font-family: 'Lato', sans-serif;
font-size: 38px;
font-weight: 700;
line-height: 38px;
text-align: left;
margin-bottom: 10px;

}

.input {
    width: 500px;
    height: 55px;
    border: 1px #E1E4F0 solid;
    padding-left: 15px;
    background-color: #E1E4F0;
    font-size: 22px;
    font-weight: 400;
    color: #5B5E6D;
}

.p1 {
color: #5B5E6D;
font-family: 'Lato', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 22px;
text-align: left;

}

.btn {
    width: 120px;
    height: 40px;
    background-color: #2C72DC;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.25px;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
}

.p2 {
    font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 14px;
text-align: left;

}

.img-banner {
    width: 50%;
    background-image: url('/src/assets/Home/bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; /* Garante que a imagem ocupe todo o espaço disponível */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
    height: 100%;
}

.bg-p {
   color: #fff;
   font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    width: 50%;
}

.bg-btn {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    border: solid 1px #fff;
    width: 210px;
    height: 55px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

}  



.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10%;
    margin-top: auto; /* Empurra o rodapé para o fundo */
    width: 100%;
    flex-shrink: 0; /* Impede que o rodapé seja encolhido */
    margin-top: -50px;
}

.footer-list {
    height: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 50px;
}

.f1 {
    display: flex;
    flex-direction: column;
}

.f1-img {
    width: 300px;
    height: 82px;
}

.social-footer {
    display: flex;
    column-gap: 5px;
}

.face-footer, .insta-footer, .ytb-footer {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.endereco, .endereco2 {
    color: #212429;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;

}

.footer-item {
    line-height: 35.5px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #5B5E6D;
    align-items: center;
    cursor: pointer;
}

.footer-banner {
    width: 100%;
    height: 76px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-images {
    width: 153px;
    height: 43px;
}

.footer-img2 {
    width: 37px;
    height: 28px;
}

.footer-img3 {
  color: #F2F3F7;
  font-family: 'Lato', sans-serif;
font-size: 10px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.footer-menu {
    display: none;
}

@media screen and (min-width: 1024px) {

    .footer {
        margin-top: auto; /* Empurra o rodapé para o fundo */
        width: 100%;
        flex-shrink: 0; /* Impede que o rodapé seja encolhido */
        margin-top: auto; /* Empurra o rodapé para o fundo */
        margin-top: -50px;
    }
    
    .footer-list {
        width: 100%;
        height: 250px;
        background-color: #F2F3F7;
        display: flex;
        flex-direction: row;
        column-gap: 90px;
        margin-top: 45px;
    }

    .f1-img {
        margin-bottom: 45px;
        width: 219ṕx;
    }

    .social-footer {
        margin-bottom: 10px;
    }
    
    .footer-item {
        font-size: 16px;
    }
    
    .footer-banner {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 25px;
        /* padding-bottom: 10px; */
    }
    
    .footer-img {
       display: none; 
    }
    .footer-images {
      display: flex;
      column-gap: 5px;
      align-items: center;
    }
    .footer-img2 {
        width: 37px;
        height: 28px;
    }

    .footer-img3 {
        width: 105px;
        height: 18px;
    }

    .footer-menu {
        list-style: none;
        display: flex;
        color: #fff;
        column-gap: 10px;
    }

    .menu-item {
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        cursor: pointer;
    }

    .f2 {
        display: flex;
        column-gap: 50px;
    }

    .ytb-footer {
        margin-left: 5px;
    }

    .p {
        color: #5B5E6D; 
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        margin-bottom: 5px;
        cursor: pointer;

    }

    .f3 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-end;
        margin-top: 135px;
    }

    .donation22 {
        width: 167px;
        height: 34px;
        color: #004926;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        border: #004926 solid 1px;
        background-color: transparent;
        cursor: pointer;
    }

    .donation3 {
        width: 167px;
        height: 34px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #004926;
        cursor: pointer;
    }

    .agencia {
        width: 80px;
        height: 20px;
        margin-top: 30px;
    }
}


@media screen and (min-width: 1440px) {

    .footer {
        margin-top: auto; /* Empurra o rodapé para o fundo */
        width: 100%;
        flex-shrink: 0; /* Impede que o rodapé seja encolhido */
        margin-top: auto; /* Empurra o rodapé para o fundo */
        margin-top: -50px;
    }
    
    .footer-list {
        height: 304px;
        column-gap: 50px;
        margin-top: 45px;
        justify-content: space-around;
    }

    .f1-img {
        margin-bottom: 45px;
        width: 341px;
        height: 85px;
    }

    .social-footer {
        margin-bottom: 10px;
    }
    
    .footer-item {
        font-size: 16px;
    }
    
    .footer-banner {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 25px;
        /* padding-bottom: 10px; */
    }
    
    .footer-img {
       display: none; 
    }
    .footer-images {
      display: flex;
      column-gap: 5px;
      align-items: center;
    }
    .footer-img2 {
        width: 37px;
        height: 28px;
    }

    .footer-img3 {
        width: 101px;
        height: 18px;
    }

    .footer-menu {
        list-style: none;
        display: flex;
        color: #fff;
        column-gap: 10px;
    }

    .menu-item {
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        cursor: pointer;
    }

    .f2 {
        display: flex;
        column-gap: 120px;
        margin-bottom: 10px;
    }

    .ytb-footer {
        margin-left: 5px;
    }

    .p {
        font-size: 16px;
        margin-bottom: 5px;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .f3 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-end;
        margin-top: 24px;
    }

    .donation22 {
        width: 247px;
        height: 44px;
        color: #29482d;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        border: #29482d solid 1px;
    }

    .donation3 {
        width: 247px;
        height: 44px;
        font-size: 18px;
        background-color: #29482d;
    }

    .agencia {
        width: 90px;
        height: 27px;
        margin-top: 30px;
    }

    .footer-item {
        font-size: 18px;
    }
    
    .footer-banner {
        column-gap: -15px;
        padding-left: 35px;
        height: 65px;
    }
    
    .footer-img {
       display: none; 
    }
    .footer-images {
        display: flex;
        align-items: center;
        padding-inline: 20px;
        width: auto; /* Remova o width fixo e deixe o contêiner expandir conforme necessário */
        max-width: 200px; /* Defina um máximo para evitar que o texto se estenda demais */
        white-space: nowrap; /* Impede a quebra de linha */
        overflow: hidden; /* Oculta qualquer texto que ultrapasse o contêiner */
        text-overflow: ellipsis; /* Adiciona reticências (...) para indicar que há mais texto além do contêiner */
        margin-bottom: px;    
    }
    .footer-img2 {
        width: 37px;
        height: 28px;
    }

    .footer-img3 {
        flex-shrink: 0; /* Impede que o texto seja encolhido */
        margin-bottom: 2px;
    }

    .footer-menu {
        list-style: none;
        display: flex;
        color: #fff;
        column-gap: 25px;
        padding-left: 23px;
    }

    .menu-item {
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        cursor: pointer;
    }
}


@media screen and (min-width: 1880px) {
    
    .footer-list {
        column-gap: 30px;
        height: 320px;
        margin-top: 0;
        justify-content: space-between;
        align-items: center;
        padding-inline: 100px;
    }

    .f1-img {
        width: 341px;
        height: 85px;
    }

    .face-footer, .insta-footer, .ytb-footer {
        width: 32px;
        height: 32px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .endereco, .endereco2 {
        font-size: 14px;
        line-height: 20px;
    }

    .f2 {
        column-gap: 110px;
    }

    .p {
        color: #5B5E6D;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        text-align: left;
        margin-bottom: 4px;
        cursor: pointer;
    }

    .f3 {
        margin-top: 50px;
    }

    .donation22 {
        width: 247px;
        height: 47px;
        font-size: 18px;
    }

    .donation3 {
        width: 247px;
        height: 47px;
        font-size: 18px;
    }

    .agencia {
        width: 90px;
        height: 27px;
    }
    
    .footer-item {
        font-size: 18px;
    }
    
    .footer-banner {
        column-gap: -15px;
        padding-left: 35px;
    }
    
    .footer-img {
       display: none; 
    }
    .footer-images {
        display: flex;
        align-items: center;
        padding-inline: 20px;
        width: auto; /* Remova o width fixo e deixe o contêiner expandir conforme necessário */
        max-width: 200px; /* Defina um máximo para evitar que o texto se estenda demais */
        white-space: nowrap; /* Impede a quebra de linha */
        overflow: hidden; /* Oculta qualquer texto que ultrapasse o contêiner */
        text-overflow: ellipsis; /* Adiciona reticências (...) para indicar que há mais texto além do contêiner */
    }
    .footer-img2 {
        width: 37px;
        height: 28px;
    }

    .footer-img3 {
        flex-shrink: 0; /* Impede que o texto seja encolhido */
    }

    .footer-menu {
        list-style: none;
        display: flex;
        color: #fff;
        column-gap: 35px;
        padding-left: 23px;
    }

    .menu-item {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        cursor: pointer;
    }
}

