*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
  
html, body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar-thumb {
    background: #A2A2A2;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
    transition: 0.3s;
}

.main-container {
    background-color: #F2F3F7;
}

.barra {
    display: none;
}


.nav {
    width: 100%;
    height: 74px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-superior {
    width: 90%;
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding-left: 10px;
}
.menu-sanduiche {
    cursor: pointer;
    display: block;
  }
  
  .bar {
    width: 19px;
    height: 2px;
    background-color: #004926;
    margin: 5px 0;
  }

  .menu-superior-img {
    width: 124px;
    height: 32px;
  }

  .menu-superior-h4 {
    font-family: "Lato", sans serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #DDA63A;
  }
  .lupa {
    padding-right: 10px;
  }




@media screen and (min-width: 1024px) {

    .barra {
        display: flex;
        width: 100%;
        height: 38px;
        background-color:#1D1D1B;
        align-content: center;
        align-items: center;
    }
    
    .barra-lista {
        list-style: none;
        display: flex;
        column-gap: 10px;
        padding-left: 45px;
    }
    
    .barra-text {
        color: #F2F3F7;
        font-family: "Lato", sans serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.86px;
        cursor: pointer;
    }

    .nav {
        width: 100%;
        height: 60px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .menu-superior {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-inline: 40px;
        justify-content: space-between;
    }

      .menu-superior-img {
        width: 188px;
        height: 52px;
      }

}


@media screen and (min-width: 1440px) {

    .barra {
        display: flex;
        width: 100%;
        height: 38px;
        background-color:#1D1D1B;
        align-content: center;
        align-items: center;
    }
    
    .barra-lista {
        list-style: none;
        display: flex;
        column-gap: 25px;
        padding-left: 60px;
    }
    
    .barra-text {
        color: #F2F3F7;
        font-family: "Lato", sans serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.86px;
        cursor: pointer;
    }

    #evangelizar {
        margin-right: 25px;
    }

    .nav {
        width: 100%;
        height: 74px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .menu-superior {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 75px;
        padding-inline: 48px;
        justify-content: flex-start;
        padding-left: 60px;
    }

      .menu-superior-img {
        width: 188px;
        height: 52px;
      }

      .menu-superior-h4 {
        font-size: 18px;
        color: #DDA63A;
      }

      .lupa {
        padding-right: 60px;
      }

}

@media screen and (min-width: 1880px) {

        .barra {
            display: flex;
            width: 100%;
            height: 46px;
            background-color:#1D1D1B;
            align-content: center;
            align-items: center;
        }
        
        .barra-lista {
            list-style: none;
            display: flex;
            column-gap: 35px;
            padding-left: 100px;
        }
        
        .barra-text {
            color: #F2F3F7;
            font-family: "Lato", sans serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.86px;
            cursor: pointer;
        }
    
        .nav {
            height: 80px;
            align-items: center;
            justify-content: space-around;
        }

        .menu-superior {
            column-gap: 65px;
            width: 84%;
            padding-inline: 33px;
            justify-content: flex-start;
        }

        .bar {
            width: 22px;
            height: 3px;
            background-color: #004926;
            margin: 5px 0;
        }
    
          .menu-superior-img {
            width: 275px;
            height: 74px;
          }

          .menu-superior-h4 {
            font-size: 20px;
          }

          .lupa {
            width: 30px;
            height: 30px;
            padding-right: 0;
          }
    
}

.revista-main {
  width: 100;
  height: 400px;
  background-image: url("/src/assets/Revista/revista-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
}

.revista-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding-left: 70px;
  row-gap: 10px;
}

.icon-revista {
  width: 51px;
  height: 51px;
}

.revista-h2 {
  color: #F2F3F7;
  font-family: Lato;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;

}

.revista-para {
  color: #F2F3F7;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-right: 10px;
}

.btn-revista {
  width: 250px;
        height: 44px;
        border-radius: 2px;
        background-color: #2C72DC;
        color: #fff;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 25px;
        align-self: flex-start;
        cursor: pointer;
}

.revista-edicao {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.edicao-p {
  color: #fff;
  font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: left;
}

.revista1-img {
  width: 200px;
  height: 280px;
  position: relative;
}

.btn-ver-revista {
  width: 128px;
  height: 38px;
  position: absolute; /* Posição absoluta para o botão */
  top: 50%; /* Alinha o topo do botão ao centro vertical */
  left: 75%; /* Alinha a esquerda do botão ao centro horizontal */
  transform: translate(-50%, -50%); /* Move o botão para o centro do contêiner */
  background: #2C72DC;
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor ao passar por cima */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  cursor: pointer;
}

.btn-ver-revista2 {
  width: 128px;
  height: 38px;
  position: absolute; /* Posição absoluta para o botão */
  top: 127%; /* Alinha o topo do botão ao centro vertical */
  left: 15%; /* Alinha a esquerda do botão ao centro horizontal */
  transform: translate(-50%, -50%); /* Move o botão para o centro do contêiner */
  background: #2C72DC;
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor ao passar por cima */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  top: 120%; /* Alinha o topo do botão ao centro vertical */
  left: 15%; /* Alinha a esquerda do botão ao centro horizontal */
  position: absolute;
}

.btn-ver-revista-icon {
  width: 20px;
  height: 20px;
}

.revista11 {
  position: absolute;
}

@media screen and (min-width: 1440px) {
  .revista-main {
    width: 100;
    height: 507px;
    background-image: url("/src/assets/Revista/revista-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
  }
  
  .revista-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 140px;
    row-gap: 10px;
  }
  
  .icon-revista {
    width: 61px;
    height: 61px;
  }
  
  .revista-h2 {
    color: #F2F3F7;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
  
  }
  
  .revista-para {
    color: #F2F3F7;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-right: 10px;
  }
  
  .btn-revista {
    width: 281px;
          height: 44px;
          border-radius: 2px;
          background-color: #2C72DC;
          color: #fff;
          font-family: Lato;
          font-size: 20px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 25px;
          align-self: flex-start;
          cursor: pointer;
  }
  
  .revista-edicao {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
  }
  
  .edicao-p {
    color: #fff;
    font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  }
  
  .revista1-img {
    width: 222px;
    height: 315px;
    position: relative;
  }
  
  .btn-ver-revista {
    width: 128px;
    height: 38px;
    position: absolute; /* Posição absoluta para o botão */
    top: 58%; /* Alinha o topo do botão ao centro vertical */
    left: 75%; /* Alinha a esquerda do botão ao centro horizontal */
    transform: translate(-50%, -50%); /* Move o botão para o centro do contêiner */
    background: #2C72DC;
    border: none; /* Remove a borda */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .btn-ver-revista2 {
    width: 128px;
    height: 38px;
    position: absolute; /* Posição absoluta para o botão */
    top: 127%; /* Alinha o topo do botão ao centro vertical */
    left: 15%; /* Alinha a esquerda do botão ao centro horizontal */
    transform: translate(-50%, -50%); /* Move o botão para o centro do contêiner */
    background: #2C72DC;
    border: none; /* Remove a borda */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    top: 120%; /* Alinha o topo do botão ao centro vertical */
    left: 15%; /* Alinha a esquerda do botão ao centro horizontal */
    position: absolute;
  }
  
  .btn-ver-revista-icon {
    width: 20px;
    height: 20px;
  }
  
  .revista11 {
    position: absolute;
  }
}


@media screen and (min-width: 1880px) {

  .revista-main {
    width: 100%;
    height: 507px;
    background-image: url("/src/assets/Revista/revista-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
  }
  
  
  .btn-ver-revista {
    top: 58%; /* Alinha o topo do botão ao centro vertical */
  }
  
  .btn-ver-revista-icon {
    width: 20px;
    height: 20px;
  }
  .btn-ver-revista2 {
    top: 125%; /* Alinha o topo do botão ao centro vertical */
    left: 19%; /* Alinha a esquerda do botão ao centro horizontal */
    position: absolute;
  }

}

.revista-vitrine {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.so-revistas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
  padding: 50px;
}

.revista-solo {
  position: relative;
}

.revista1 {
  width: 210px;
  height: 260px;
  cursor: pointer;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.btn-ver-revista2 {
  position: absolute;
  top: 70%;
  left: 50%;
  cursor: pointer;
}

.revista-legenda {
  width: 100%;
  height: 56px;
  color: #212429;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  background-color: #FAFAFA;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}


@media screen and (min-width: 1440px) {
    .so-revistas {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 50px;
      row-gap: 50px;
      padding: 50px;
    }

    .revista-solo {
      position: relative;
    }

    .revista1 {
      width: 284px;
      height: 459;
      cursor: pointer;
      box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
    }

    .btn-ver-revista2 {
      position: absolute;
      top: 80%;
      left: 50%;
      cursor: pointer;
    }

    .revista-legenda {
      width: 100%;
      height: 56px;
      color: #212429;
      font-family: Lato;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      background-color: #FAFAFA;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
      padding-top: 15px;
    }


}

@media screen and (min-width: 1880px) {
  .so-revistas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 50px;
    padding: 60px;
    padding-inline: 80px;
  }

  .revista1 {
    width: 330px;
    height: 470px;
    cursor: pointer;
  }


}