*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F2F3F7;
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar-thumb {
  background: #A2A2A2;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  transition: 0.3s;
}

.main-container {
  background-color: #F2F3F7;
}
